.bar-container {
  height: 50vh;
}

#bar-container1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar {
  width: 10px;
  height: 50px;
  background: black;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  transform: scale(2);

  transition: transform 5s linear;
}
